# PFF FC Tracking Data
PFF FC released their broadcast tracking data from the FIFA Men's World Cup 2022. The datasets can be requested via [this link](https://www.blog.fc.pff.com/blog/pff-fc-release-2022-world-cup-data).
##### Key Data Points:
- Tracking Data: The tracking data is stored separately per game: `{game_id}.jsonl.bz2`
- Event Data: The event data for all games is stored in a single file: `events.json`
- Metadata: The metadata can be found in: `metadata.csv`, `players.csv`, `rosters.csv`, and `competitions.csv`

## Load local files
To load the tracking data as a TrackingDataset use the `load_tracking()` function from the `pff` module.

Required parameters are:
- `meta_data`: Path containing metadata about the tracking data.
- `players_meta_data`: Path containing roster metadata, such as player details.
- `raw_data`: Path containing the raw tracking data.

Optional parameters are:
- `coordinates`: The coordinate system to use for the tracking data (e.g., "pff").
- `sample_rate`: The sampling rate to downsample the data. If None, no downsampling is applied.
- `limit`: The maximum number of records to process. If None, all records are processed.
- `only_alive`: Whether to include only sequences when the ball is in play.

In [ ]:
from kloppy import pff

dataset = pff.load_tracking(meta_data="../../kloppy/tests/files/pff_metadata.csv",
                     roster_meta_data= "../../kloppy/tests/files/pff_rosters.csv",
                     raw_data = "../../kloppy/tests/files/pff_10517.jsonl.bz2",
                     # Optional Parameters
                     coordinates = "pff",
                     sample_rate = None,
                     limit = None)

dataset.to_df().head()

,period_id,timestamp,frame_id,ball_state,ball_owning_team_id,ball_x,ball_y,ball_z,ball_speed,10715_x,...,8058_d,8058_s,5097_x,5097_y,5097_d,5097_s,3878_x,3878_y,3878_d,3878_s
0,1,0 days 00:00:00.000821,4630,alive,363,0.42,1.59,0.39,None,4.987,...,None,None,NaN,NaN,None,None,NaN,NaN,None,None
1,1,0 days 00:00:00.034188,4631,alive,363,0.83,1.63,0.00,None,4.955,...,None,None,NaN,NaN,None,None,NaN,NaN,None,None
2,1,0 days 00:00:00.067555,4632,alive,363,1.23,1.66,0.00,None,4.923,...,None,None,NaN,NaN,None,None,NaN,NaN,None,None
3,1,0 days 00:00:00.100921,4633,alive,363,1.64,1.70,0.02,None,4.892,...,None,None,NaN,NaN,None,None,NaN,NaN,None,None
4,1,0 days 00:00:00.134288,4634,alive,363,2.04,1.73,0.02,None,4.861,...,None,None,NaN,NaN,None,None,NaN,NaN,None,None